/* Estilos base */
.product-edit-body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.product-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.product-edit-label {
    display: block;
    margin-bottom: 10px;
    text-align: left; /* Cambiado de center a left */
    width: 100%;
}

.product-edit-input,
.product-edit-textarea,
.product-edit-input-file {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.product-edit-submit {
    font-size: larger;
    padding: 10px 20px;
    border: none;
    background-color:  #ffc400;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product-edit-link {
    display: inline-block;
    margin-top: 20px;
    color: #ffc400;
    text-decoration: none;
}
/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .product-edit-form {
        padding: 10px;
    }

    .product-edit-input,
    .product-edit-textarea,
    .product-edit-input-file {
        padding: 5px;
    }
}