body {
    overflow-x: hidden; /* Esto oculta el desplazamiento horizontal */
}

* {
    box-sizing: border-box; /* Esto asegura que el padding y el border se incluyan en el ancho del elemento */
    max-width: 100%; /* Esto asegura que ningún elemento sea más ancho que su contenedor */
}
/* Estilos generales */
.bodyAdmin {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
.headerAdmin {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.headerAdmin h1, .headerAdmin h2, .headerAdmin p {
    margin: 0;
    display: inline-block;
}

.headerAdmin h2 {
    margin-left: 20px;
}

.headerAdmin p {
    margin-top: .5rem;
}

.headerAdmin a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Estilos para la tabla */
.tableAdmin {
    margin-top: 70px; 
    width: 90%; /* Reduce el ancho al 90% */
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
    background-color: white;
    margin-top: 6rem;
    padding: 1rem;
}

.tableAdmin th, .tableAdmin td {
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: center;
}

.tableAdmin th {
    background-color: #8B4513;
    color: white;
}

/* Estilos para los botones */
.edit-admin, .delete-admin {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-admin {
    margin-right: 5px;
    background-color: #53aacc;
    color: #fff;
}

.delete-admin {
    background-color: #f44336;
    color: #fff;
}
.edits-inputs {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;

}


/* Estilos para los enlaces que parecen botones */
.headerAdmin a.crear, .headerAdmin a.logout {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.headerAdmin a.logout {
    background-color: #f44336;
}

.headerAdmin a.crear:hover, .headerAdmin a.logout:hover {
    opacity: 0.8;
}

/* Estilos para los inputs */
input {
    width: 80%; /* Reduce el ancho al 80% */
    padding: 0.5rem; /* Reduce el padding a 0.5rem */
}

@media screen and (max-width: 825px) {
    /* Estilos para dispositivos móviles en orientación horizontal */
    .tableAdmin {
        width: 100%;
        table-layout: auto;
        margin-top: 10rem; /* Añade un margen superior */
    }
    .headerAdmin {
        flex-direction: column;
        align-items: center;
    }
    .headerAdmin a.crear, .headerAdmin a.logout {
        padding: 5px 10px;
        font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    }
}

@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles en orientación vertical */
    .tableAdmin {
        width: 100%;
        table-layout: auto;
        margin-top: 10rem; /* Añade un margen superior */
    }
    .tableAdmin thead {
        display: none;
    }
    .tableAdmin tr {
        margin-bottom: 10px;
        display: block; /* Cambia esto a block */
    }
    .tableAdmin td {
        display: block; /* Cambia esto a block */
        text-align: right;
        font-size: 1.2em; /* Aumenta el tamaño de la fuente */
        border-bottom: 1px dotted #ccc;
    }
    .tableAdmin td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    .headerAdmin {
        padding: 10px;
    }
    .headerAdmin a.crear, .headerAdmin a.logout {
        padding: 2px 5px;
        font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    }
}
@media (max-width: 600px) {
    .headerAdmin {
        padding: 10px;
    }

    .headerAdmin h1, .headerAdmin h2, .headerAdmin p, .headerAdmin a {
        display: block;
        margin: 5px 0;
    }

    .headerAdmin a.crear, .headerAdmin a.logout {
        display: inline-block;
        margin: 5px 0;
    }
}