/* Estilos generales */
.bodyAdmin {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}

/* Estilos para la barra de navegación */
/* Estilos generales */
.bodyAdmin {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
.headerAdmin {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.headerAdmin h1 {
    margin: 0;
    display: inline-block;
}

.headerAdmin h2 {
    margin: 0;
    display: inline-block;
    margin-left: 20px;
}

.headerAdmin p {
    margin-top: .5rem;
    display: inline-block;
    float: right;
}

.headerAdmin a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Estilos para la tabla */
.tableAdmin {
    margin-top: 70px; /* Para evitar que la tabla se superponga con la barra de navegación */
    width: 90%; /* Reducir el ancho para dar espacio en los bordes */
    margin-left: auto; /* Centrar la tabla horizontalmente */
    margin-right: auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    background: wheat;
    margin-top: 6rem;
    padding: 1rem;
}

.tableAdmin th, .tableAdmin td {
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: center;
}

.tableAdmin tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableAdmin th {
    background-color: #8B4513;
    color: white;
}

/* Estilos para los botones */
.edit-admin, .delete-admin {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.flex{
    display: flex;
    flex-direction: row; // Esto es opcional, ya que 'row' es el valor por defecto
    align-items: center;
}
.edit-admin {
    margin-right: 5px;
    background-color: #53aacc;
    color: #fff;
}

.edit-admin {
    background-color:#53aacc;
    color: #fff;
}

.delete-admin {
    background-color: #f44336;
    color: #fff;
}

/* Estilos para los enlaces que parecen botones */
.headerAdmin a.crear, .headerAdmin a.logout {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.headerAdmin a.logout {
    background-color: #f44336;
}

.headerAdmin a.crear:hover, .headerAdmin a.logout:hover {
    opacity: 0.8;
}

.tdText{
    size: 50px;
}

/*Media Querys*/

/* Estilos para pantallas de escritorio grandes */
@media (min-width: 1200px) {
    .tableAdmin {
        width: 80%;
    }
    .headerAdmin {
        padding: 10px 30px;
    }
    .tdText {
        font-size: 20px;
    }
}

/* Estilos para pantallas de escritorio */
@media (min-width: 992px) and (max-width: 1199px) {
    .tableAdmin {
        width: 85%;
    }
    .headerAdmin {
        padding: 10px 20px;
    }
    .tdText {
        font-size: 18px;
    }
}

/* Estilos para tablets en orientación horizontal e iPads */
@media (min-width: 768px) and (max-width: 991px) {
    .tableAdmin {
        width: 90%;
    }
    .headerAdmin {
        padding: 10px 15px;
    }
    .tdText {
        font-size: 16px;
    }
}

/* Estilos para tablets en orientación vertical y smartphones grandes */
@media (min-width: 576px) and (max-width: 767px) {
    .tableAdmin {
        width: 95%;
    }
    .headerAdmin {
        padding: 10px 10px;
    }
    .tdText {
        font-size: 14px;
    }
}

/* Estilos para smartphones */
@media (max-width: 575px) {
    .tableAdmin {
        width: 100%;
    }
    .headerAdmin {
        padding: 10px 5px;
    }
    .tdText {
        font-size: 12px;
    }
}