/* Estilos generales */
.bodyAdmin {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
.headerAdmin {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.headerAdmin h1 {
    margin: 0;
    display: inline-block;
}

.headerAdmin h2 {
    margin: 0;
    display: inline-block;
    margin-left: 20px;
}

.headerAdmin p {
    margin: 0;
    display: inline-block;
    float: right;
}

.headerAdmin a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Estilos para la tabla */
.tableAdmin {
    margin-top: 70px; /* Para evitar que la tabla se superponga con la barra de navegación */
    width: 100%;
    border-collapse: collapse;
}

.tableAdmin th, .tableAdmin td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tableAdmin tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableAdmin th {
    background-color: #4CAF50;
    color: white;
}

/* Estilos para los botones */
.edit-admin, .delete-admin {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-admin {
    background-color: #4CAF50;
    color: #fff;
}

.delete-admin {
    background-color: #f44336;
    color: #fff;
}

/* Estilos para los enlaces que parecen botones */
.headerAdmin a.crear, .headerAdmin a.logout {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.headerAdmin a.logout {
    background-color: #f44336;
}

.headerAdmin a.crear:hover, .headerAdmin a.logout:hover {
    opacity: 0.8;
}