body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #b79174; 
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #c78371;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #ff6f00; 
}
td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff6f00; 
    color: white;
}

button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ff6f00; 
}

button:hover {
    opacity: 0.8;
}

.edit{
    background-color: #4CAF50;
}

.delete{
    background-color: #f44336;
}

#create-product {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f00; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

#create-product:hover {
    background-color: #e65a00;
}