@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("https://res.cloudinary.com/dbqqjaqqa/image/upload/v1490097089/bg_ftta6d.png");
  color: #49130c;
}

.navbar {
  min-height: 80px;
  background-color: #fbdcad;
  border-radius: 0px;
}

.navbar-brand {
  padding: 0px;
  height: 80px;
  background-color: #fbdcad;
  margin-right: 30px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-default .navbar-nav > li > a {
  color: #49130c;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-color: #e6637f;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #F2D4A7;
}

.navbar-brand > img {
  height: 80px;
}

.esconder {
  display: none;
}

/*boton darkmode LAURITY*/
/* .dark{
    background-color: #00000000;
    border: none;
    border-radius: 5px;
} */
/* MODO OSCURO DANIEL*/
.oscuridad {
  margin-top: 2%;
  margin-left: 10%;
  border-bottom: #000, 1px;
}

.dark {
  background-color: #000;
  color: #f1f1f1;
}

.parrafo {
  font-family: "Montserrat", sans-serif;
  color: #49130c;
  background-color: #fbdcad;
}

.panel {
  position: relative;
  left: 0;
}

.box {
  position: absolute;
  bottom: 15%;
  left: 0;
  padding: 0px 35px 0px 25px;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 15%;
  opacity: 0.6;
  text-align: left;
  transition: 1s;
}

.box:hover {
  opacity: 0.9;
}

.img-thumbnail {
  border-color: #ffffff;
  border-width: 12px;
  width: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content2 {
  text-align: center;
  border-top: 2px solid #e6637f;
  border-bottom: 2px solid #e6637f;
  padding: 20px;
}

.img-circle {
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h3 {
  padding: 20px;
}

#carousel {
  margin-top: 20px;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
}

.carousel-inner p {
  font-size: 130%;
}

.carousel-caption {
  background-color: #fff;
  opacity: 0.6;
  color: #000;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
/*cards del menu*/
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fila-producto {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.celda-imagen {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.imagen-producto {
  width: 100%;
  height: auto;
}

.celda-nombre, .celda-descripcion, .celda-precio {
  padding: 10px;
  text-align: center;
  background-color: white;
}

.celda-boton {
  background: white;
}

@media (max-width: 800px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  background-color: #fbdcad;
  padding: 0 0 40px;
}

#footer1, #footer2, #footer3 {
  text-align: left;
  padding: 0 0 0 90px;
  color: #49130c;
}

.footer-links {
  text-align: left;
  padding: 10px 0 0 90px;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 50px;
}

.contacto2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -1.5%;
}

.inicioSesion {
  /* Crea un degradado de fondo */
  /* background: linear-gradient(to right, #ffbe45, #96bb00e2); */
  background-image: url("../assets/images/fondoRegistro.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.formInicio {
  /* Estilos del formulario */
  background: #fff;
  padding: 30px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.h1Inicio {
  /* Estilos del título */
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.labelInicio {
  /* Estilos de las etiquetas */
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.inputInicio {
  /* Estilos de los campos de entrada */
  width: 90%; /* Ajusta el ancho */
  margin: 0 auto; /* Añade márgenes automáticos */
  padding: 10px;
  margin-bottom: 20px;
  border: none; /* Elimina el borde */
  border-bottom: 2px solid #ddd; /* Agrega una línea inferior */
  border-radius: 0; /* Elimina los bordes redondeados */
  font-size: 14px;
  background: transparent; /* Hace que el fondo sea transparente */
  outline: none; /* Elimina el contorno al seleccionar el campo de entrada */
}

.inputInicio:focus {
  /* Cambia el color de la línea inferior cuando el campo de entrada está enfocado */
  border-bottom: 2px solid #ffdd00;
}

.buttonInicio {
  /* Estilos del botón */
  width: 40%;
  padding: 10px;
  border: none;
  background: linear-gradient(to right, #ffbe45, rgba(216, 115, 0, 0.8862745098));
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: medium;
}

.buttonInicio:hover {
  /* Estilos del botón al pasar el ratón */
  background: #a74000;
}

.IrRegistro {
  /* Estilos del enlace de registro */
  display: inline-block;
  animation: pulse 2s infinite;
  text-align: center;
  margin-top: 20px;
  color: #ff9d00;
  text-decoration: none;
  transition: transform 0.3s ease, text-decoration 0.3s ease; /* Añade transición */
}

.containerInicio {
  display: flex;
  justify-content: space-between;
}

.IrRegistro:hover {
  /* Estilos del enlace de registro al pasar el ratón */
  text-decoration: none !important; /* Elimina la línea debajo del enlace */
  transform: scale(1.2); /* Aumenta el tamaño del enlace */
}

/* Errores de inicio de sesion */
.error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2dede; /* Color de fondo para el contenedor de error */
  padding: 20px;
  border: 1px solid #ebccd1; /* Borde para el contenedor de error */
  border-radius: 5px;
  text-align: center;
  z-index: 1000; /* Asegura que el contenedor de error esté por encima de otros elementos */
}

.incorrect {
  color: red;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #a94442; /* Color del botón de cerrar */
}

/*# sourceMappingURL=main.css.map */

