.productos {
    margin: 5% 5% 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fila-producto {
    border-radius: 15px;
    box-shadow: #ccc 0px 0px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px; /* Disminuye esto para reducir la separación entre los elementos */
    width: calc(33.33% - 20px);
    align-items: stretch;/* Cambia esto a 'stretch' para hacer que los elementos ocupen todo el ancho */
}

.fila-producto > * {
    flex-grow: 0.5; /* Añade esto para hacer que los elementos ocupen todo el espacio disponible */
}

.celda-imagen {

    width: 100%; 
    height: 45%; 
    overflow: hidden; 
}

.celda-imagen img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.celda-nombre, .celda-descripcion, .celda-precio {
    margin: 10px 0;
    text-align: justify; 
}

.celda-boton {
    text-align: center;
}

.celda-boton a {
    background-color: #e6b617;
    color: white;
    padding: 10px 20px;
    height: 40px; 
    width: 100px; 
    text-align: center; 
}